In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('horror_movies.csv')

In [7]:
df.head()

,Unnamed: 0,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,...,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,1,760161,Orphan: First Kill,Orphan: First Kill,en,After escaping from an Estonian psychiatric fa...,There's always been something wrong with Esther.,2022-07-27,/pHkKbIRoCe7zIFvqan9LFSaQAde.jpg,5088.584,...,6.9,0.0,9572765.0,99,Released,False,/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg,"Horror, Thriller",760193.0,Orphan Collection
1,2,760741,Beast,Beast,en,A recently widowed man and his two teenage dau...,Fight for family.,2022-08-11,/xIGr7UHsKf0URWmyyd5qFMAq4d8.jpg,2172.338,...,7.1,0.0,56000000.0,93,Released,False,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,"Adventure, Drama, Horror",NaN,NaN
2,3,882598,Smile,Smile,en,"After witnessing a bizarre, traumatic incident...","Once you see it, it’s too late.",2022-09-23,/hiaeZKzwsk4y4atFhmncO5KRxeT.jpg,1863.628,...,6.8,17000000.0,45000000.0,115,Released,False,/mVNPfpydornVe4H4UCIk7WevWjf.jpg,"Horror, Mystery, Thriller",NaN,NaN
3,4,756999,The Black Phone,The Black Phone,en,"Finney Blake, a shy but clever 13-year-old boy...",Never talk to strangers.,2022-06-22,/lr11mCT85T1JanlgjMuhs9nMht4.jpg,1071.398,...,7.9,18800000.0,161000000.0,103,Released,False,/AfvIjhDu9p64jKcmohS4hsPG95Q.jpg,"Horror, Thriller",NaN,NaN
4,5,772450,Presencias,Presences,es,A man who loses his wife and goes to seclude h...,NaN,2022-09-07,/dgDT3uol3mdvwEg0jt1ble3l9hw.jpg,1020.995,...,7.0,0.0,0.0,0,Released,False,/ojfzhdwRemcDt1I6pao6vVLw9AA.jpg,Horror,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32540 entries, 0 to 32539
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         32540 non-null  int64
 1   id                 32540 non-null  int64
 2   original_title     32540 non-null  object
 3   title              32540 non-null  object
 4   original_language  32540 non-null  object
 5   overview           31254 non-null  object
 6   tagline            12704 non-null  object
 7   release_date       32540 non-null  object
 8   poster_path        28066 non-null  object
 9   popularity         32540 non-null  float64
 10  vote_count         32540 non-null  int64
 11  vote_average       32540 non-null  float64
 12  budget             32540 non-null  float64
 13  revenue            32540 non-null  float64
 14  runtime            32540 non-null  int64
 15  status             32540 non-null  object
 16  adult              32540 non-null  bool
 17  backdrop_path      13545 non-null  object
 18  genre_names        32540 non-null  object
 19  collection         2306 non-null   float64
 20  collection_name    2306 non-null   object
dtypes: bool(1), float64(5), int64(4), object(11)
memory usage: 5.0+ MB

In [9]:
mov= df[['id','original_title','overview','genre_names']]
mov

,id,original_title,overview,genre_names
0,760161,Orphan: First Kill,After escaping from an Estonian psychiatric fa...,"Horror, Thriller"
1,760741,Beast,A recently widowed man and his two teenage dau...,"Adventure, Drama, Horror"
2,882598,Smile,"After witnessing a bizarre, traumatic incident...","Horror, Mystery, Thriller"
3,756999,The Black Phone,"Finney Blake, a shy but clever 13-year-old boy...","Horror, Thriller"
4,772450,Presencias,A man who loses his wife and goes to seclude h...,Horror
...,...,...,...,...
32535,1032201,Catch a Butcher,In a maternity ward in nineteenth-century Indi...,Horror
32536,1032667,Shaye Saint John: The Triggers Compilation,A bizarre mix of early Tod Hayne's and Phyllis...,"Fantasy, Horror"
32537,1032890,Welcome to the Occult Forest,A washed up horror film director named Kôji Ku...,"Comedy, Drama, Horror"
32538,1033052,The Mean One,"The Mean One is a hairy, green-skinned grump i...",Horror
32539,1033095,Secret Formula,NaN,"Animation, Horror"

In [10]:
mov.isnull().sum()

id                   0
original_title       0
overview          1286
genre_names          0
dtype: int64

In [11]:
mov = mov.dropna()
mov.shape

(31254, 4)

In [12]:
mov = mov.applymap(lambda x: x.replace('Horror','') if isinstance(x, str) else x)

C:\Users\DELL\AppData\Local\Temp\ipykernel_16200\3929183384.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  mov = mov.applymap(lambda x: x.replace('Horror','') if isinstance(x, str) else x)

In [13]:
mov['tags'] = mov['genre_names'] +mov['overview']

In [14]:
mov= mov[['id','original_title','tags']]
mov

,id,original_title,tags
0,760161,Orphan: First Kill,", ThrillerAfter escaping from an Estonian psyc..."
1,760741,Beast,"Adventure, Drama, A recently widowed man and h..."
2,882598,Smile,", Mystery, ThrillerAfter witnessing a bizarre,..."
3,756999,The Black Phone,", ThrillerFinney Blake, a shy but clever 13-ye..."
4,772450,Presencias,A man who loses his wife and goes to seclude h...
...,...,...,...
32534,1032185,Nuevo Mensaje,A young boy comes back home from an agitated n...
32535,1032201,Catch a Butcher,In a maternity ward in nineteenth-century Indi...
32536,1032667,Shaye Saint John: The Triggers Compilation,"Fantasy, A bizarre mix of early Tod Hayne's an..."
32537,1032890,Welcome to the Occult Forest,"Comedy, Drama, A washed up horror film directo..."
32538,1033052,The Mean One,"The Mean One is a hairy, green-skinned grump i..."

In [15]:
mov=mov[mov['tags' ].str.contains( 'Add a Plot' )==False ]
\


mov.shape

(31254, 3)

In [27]:
mov= mov.dropna().reset_index(drop=True)

In [37]:
mov.shape

(31254, 3)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [31]:
vector = cv.fit_transform(mov['tags']).toarray()

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

In [33]:
similarity = cosine_similarity(vector)

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x: x[1])   #how much similar

In [35]:
mov.memory_usage()

Index                132
id                250032
original_title    250032
tags              250032
dtype: int64

In [39]:
def recommend(movie):
    index = mov[mov['original_title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:11]:
        print(mov.iloc[i[0]].original_title)

In [47]:
recommend('Rows')

口裂け女
Doctor Dracula
우리집
Good Morning
The Hornet's Disciple and the Scars She Left
Double
무서운 집
아파트
Death Walks on Nitrate
Nurse Will Make It Better

In [41]:
import pickle
pickle.dump(mov,open('movie_list.pkl','wb'))

In [48]:
pickle.dump(similarity,open('similarity.pkl','wb'))